{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}{% endblock %}

<body {% block body_attr %}class="searchpage"{% endblock %}>

  {% block content %}

  <div class="row">
    <div class="large-12 columns" align="center">
      <h1>Welcome to the ISKCON Lawbook</h1>
    </div>
  </div>
  <div class="row">

    {% include "_sidebar_left.html" %}

    <div id="main" class="large-9 columns">



      <ul class="tabs" data-tabs id="content-tabs">
          <li class="tabs-title is-active"><a aria-selected="true">Search Results</a></li>
      </ul>

    <div class="tabs-content" data-tabs-content="content-tabs">

        {% if query %}
        <div class="tabs-panel is-active" id="tab-by_results">

            <ul class="accordion resolution_list search-results" data-accordion data-allow-all-closed="true">

                <div class="search-paginator-top" >
                    {% include "_paginator-search.html" %}
                </div>

                {% include "_tag_header.html" %}
                {% include "_date_header.html" %}
                {% include "_counts_header.html" %}

                {% for result in object_list %}
                {% if result.object %}
                <li class="accordion-item resolution_item search_results_list" data-accordion-item>
                    <a class="accordion-title">{{ result.year }}: R1: {{ result.title|truncatechars:108  }}</a>
                    <div class="accordion-content" data-tab-content>

                        <div class="resolution-attributes">
                            <div class="resolution-attribute resolution-attribute-res_id">
                                <div class="resolution-attribute-label">Id:</div>
                                {{ result.res_id }}
                            </div>
                            <div class="resolution-attribute resolution-attribute-year">
                                <div class="resolution-attribute-label">Year:</div>
                                {{ result.year }}
                            </div>
                            {% if result.time %}
                            <div class="resolution-attribute resolution-attribute-time">
                                <div class="resolution-attribute-label">Time:</div>
                                {{ result.time }}
                            </div>
                            {% endif %}
                            <div class="resolution-attribute resolution-attribute-title">
                                <div class="resolution-attribute-label">Title:</div>
                                {{ result.title }}
                            </div>
                            <div class="resolution-attribute resolution-attribute-section">
                                <div class="resolution-attribute-label" />Section:</div>
                                {{ result.section }}
                            </div>
                            <div class="resolution-attribute resolution-attribute-category">
                                <div class="resolution-attribute-label">Category:</div>
                                {{ result.category }}
                            </div>
                            <div class="resolution-attribute resolution-attribute-topic">
                                <div class="resolution-attribute-label">Topic:</div>
                                {{ result.topic }}
                            </div>

                            <div class="resolution-attribute resolution-attribute-tags">
                                <div class="resolution-attribute-label">Tags:</div>
                                {% if result.tags.all %}
                                    {% for tag in result.tags.all %}
                                        [ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>     ]
                                    {% endfor %}
                                {% else %}
                                    [no tags]<br/>
                                {% endif %}
                                </div>

                            <div class="resolution-attribute resolution-attribute-resolution">
                                <div class="resolution-attribute-label">Resolution:</div>
                                    {{ result.resolution|safe }}
                            </div>

                        </div><!-- resolution-attributes -->


                    </div><!-- accordion-content -->
                </li>
                {% endif %}

                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
              </ul>


            <div class="search-paginator-bottom">
                {% include "_paginator-search.html" %}
            </div>
          </div><!-- /.tabs-panel -->

          {% endif %}


      </div><!-- /.tabs-content -->


    </div><!-- /main -->

  </div><!-- /.row -->
  {% endblock content %}


{% block bottom %}{% endblock %}
