<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Simple Brunch Demo</title>

  <link rel="stylesheet" href="css/lawbook.css">

</head>
<body>
  <h1>
    Brunch
    <small>• A simple demo</small>
  </h1>


  <div class="row">
    <div class="large-8 medium-8 columns">
      <h5>Here&rsquo;s your basic grid:</h5>

      <div class="login_modal">
        <a data-open="loginModal">Login</a>
        | <a onClick="return lb_libs.loadLogin('#loginModal');">LoginAJAX:func_call</a>
        | <a id="login_ajax" name="loginModal">LoginAJAX:listener</a>
      </div>

      <div id="loginModal" class="small reveal" data-reveal>
        <h1 id="modalTitle">Login / Logout</h1>

        This is the login modal...

        <button type="button" class="close-button" data-close aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /#loginModal -->

      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="primary callout">
            <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.callout element so you can see where the columns are - it's not required at all for the grid.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="primary callout">
            <p>Six columns</p>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="primary callout">
            <p>Six columns</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 small-4 columns">
          <div class="primary callout">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="primary callout">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="primary callout">
            <p>Four columns</p>
          </div>
        </div>
      </div>

      <hr />

      <h5>We bet you&rsquo;ll need a form somewhere:</h5>
      <form>
        <div class="row">
          <div class="large-12 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-12.columns" />
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns" />
          </div>
          <div class="large-4 medium-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns" />
          </div>
          <div class="large-4 medium-4 columns">
            <div class="row collapse">
              <label>Input Label</label>
              <div class="small-9 columns">
                <input type="text" placeholder="small-9.columns" />
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Select Box</label>
            <select>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <label>Choose Your Favorite</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
          </div>
          <div class="large-6 medium-6 columns">
            <label>Check these out</label>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Textarea Label</label>
            <textarea placeholder="small-12.columns"></textarea>
          </div>
        </div>
      </form>
    </div>

    <div class="large-4 medium-4 columns">
      <h5>Try one of these buttons:</h5>

      <div id="sidebarL" >

        <div class="all-resolutions-header"><a href="/">All Resolutions</a></div>


        <div id="select_year" class="date-range-label">
        <form id="select-single-year" onSubmit="return chkFrm(this);">
          <div class="input-group">
            <input name="yr" class="input-group-field" type="number" placeholder="{% if year1 %}{{year1}}{% else %}enter year (yyyy){% endif %}" />
            <div class="input-group-button">
              <input type="submit" class="button" value="Submit">
            </div>
          </div>
        </form>
        </div>

        <div class="date-range-label">Select Date Range</div>
        <div id="dateSlider"></div>

        <div class="select-year-label">Select Date</div>


        <ul class="tabs" data-tabs id="sidebar-tabs">
          <li class="tabs-title is-active"><a id="link-top-ten-tags" href="#tab-top-ten-tags" aria-selected="true">Top 10 Tags</a></li>
          <li class="tabs-title"><a href="#tab-all-tags">All Tags</a></li>
        </ul>

      <div class="tabs-content" data-tabs-content="sidebar-tabs" data-options="matchHeight:true;">

        <div class="tabs-panel is-active" id="tab-top-ten-tags">
          {% if most_popular_tags %}
          <div class="input-group">
            <form id="top-ten-tags" onSubmit="return tagsFilter(this);">
            {% for mptag in most_popular_tags %}
              <li><input class="input-group-field" type="checkbox" name="{{mptag.slug}}"
              {% if mptag == tag %}
                  checked
              {% elif tags %}
                {% for tag in tags %}
                  {% if mptag == tag %}
                    checked
                  {% endif %}
                {% endfor %}
              {% endif %}
              /> <a href="{% if date_range %}/{{year1}}/{{year2}}{% elif year1 %}/{{year1}}{% endif %}/tag/{{mptag.slug}}/" />{{mptag.name}}</a></li>
            {% endfor %}
            <div class="input-group-button">
              <input type="submit" class="button" value="Filter on Selected Tags" />
            </div>
            </form>
          </div>
          {% endif %}
        </div><!-- /.tabs-panel -->

        <div class="tabs-panel" id="tab-all-tags">
          {% if all_tags %}
          <div class="input-group">
            <form id="all-tags" onSubmit="return tagsFilter(this);">
            {% for atag in all_tags %}
              <li><input class="input-group-field" type="checkbox" name="{{atag.slug}}"
              {% if atag == tag %}
                  checked
              {% elif tags %}
                {% for tag in tags %}
                  {% if atag == tag %}
                    checked
                  {% endif %}
                {% endfor %}
              {% endif %}
              /> <a href="/tag/{{atag.slug}}/" />{{atag.name}}</a></li>
            {% endfor %}
            <div class="input-group-button">
              <input type="submit" class="button" value="Filter on Selected Tags" />
            </div>

            </form>

          </div>
          {% else %}
          no tags :-(
          {% endif %}
        </div><!-- /.tabs-panel -->


      </div><!-- /tabs-content -->


        <div id="clear-dates" class="text-right">
          <a onClick="return clearFilter('clear-dates');" class="button success">Clear Dates</a>
        </div>

        <div id="clear-tags" class="text-right">
          <a onClick="return clearFilter('clear-tags');" class="button alert">Clear Tags</a>
        </div>


      </div><!-- /.sidebarL -->



      <p>
        <a href="#" class="small button">Simple Button</a><br/>
        <a href="#" class="medium success button">Success Btn</a><br/>
        <a href="#" class="medium alert button">Alert Btn</a><br/>
        <a href="#" class="medium secondary button">Secondary Btn</a>
      </p>
      <div class="callout">
        <h5>So many components, girl!</h5>
        <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
        <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/vendor_libs.js"></script>
  <script type="text/javascript">
  //<!--
  var year1 = 1999;
  var year2 = 2008;
  var this_year = 2016;
  //-->
  </script>
  <script type="text/javascript" src="js/lawbook.js"></script>
  <script type="text/javascript">
  //<!--
    var lbook = require('initialize');
    lbook.init();

    lb_libs = require('javascript/lawbook_libs');

    console.log("Foundation.MediaQuery: " + Foundation.MediaQuery);

    sidebar = require('javascript/sidebar').init(year1, year2, this_year);
    /***
    var loadLogin = function (modal) {

      $modal = $(modal);
      $.ajax('/accounts/login')
        .done(function(resp)  {
          $modal.html(resp.html).foundation('open');
        });

      console.log('loadLogin(' + $modal + ')');
      return false;
    }
    ***/

  -->//
  </script>

  </body>
</html>
