{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}{% endblock %}

<body {% block body_attr %}class="homepage"{% endblock %}>

  {% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-12" align="center">
        <h1>Welcome to the ISKCON Lawbook</h1>
        </div>
    </div>
  </div>

  {% include "_debug_messages.html" %}

  <div id="lbook" class="container-fluid">
      ___Resolutions___
  </div>

  {% endblock content %}


{% block bottom %}{% endblock %}
