{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}{% endblock %}

<body {% block body_attr %}class="homepage"{% endblock %}>

  {% block content %}

  <div class="row">
    <div class="large-12 columns" align="center">
      <h1>Welcome to the ISKCON Lawbook</h1>
    </div>
  </div>
  <div class="row">
    {% include "_sidebar_left.html" %}

    <div id="main" class="large-9 columns">

      <ul class="tabs" data-tabs id="content-tabs">
        <li class="tabs-title is-active"><a href="#tab-by_time" aria-selected="true">By Date</a></li>
        <li class="tabs-title"><a href="#tab-by_section">By Section</a></li>
        <li class="tabs-title"><a href="#tab-by_topic">By Topic</a></li>
        <li class="tabs-title"><a href="#tab-by_category">By Category</a></li>
        <li class="tabs-title"><a href="#tab-by_title">By Title</a></li>
      </ul>

      {% if resolutions_paginated %}
      <div class="tabs-content" data-tabs-content="content-tabs">

        <div class="tabs-panel is-active" id="tab-by_time">

          <ul class="vertical menu resolution-list" data-multi-expand="true" data-allow-all-closed="true">

            <div class="paginator-top">
              {% include "_paginator.html" %}
            </div>

            {% include "_tag_header.html" %}
            {% include "_date_header.html" %}
            {% include "_counts_header.html" %}


            {% regroup resolutions_paginated|dictsort:"res_id" by year as res_list %}

            {% for res_year in res_list %}
            <li class="resolution-item">
              <a class="resolution-year">{{res_year.grouper}}</a>
              <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                {% for resolution in res_year.list %}
                <li class="accordion-item" data-accordion-item>
                  <a class="accordion-title resolution-item-value"><span class="resolution-item-id">{{resolution.res_id}}:</span> {{ resolution.title|truncatechars:108 }}</a>
                  <div class="accordion-content" data-tab-content>

                  {% include "_resolution_attributes.html" %}
                  {% comment %}
                  <a class="resolution-item-value" href="{% url 'detail' resolution.id %}">{{resolution.title}}</a>
                  {% endcomment %}

                  </div><!-- accordion-content -->
                </li>
                {% endfor %}

              </ul>

            </li>
            {% endfor %}

            <div class="paginator-bottom">
              {% include "_paginator.html" %}
            </div>

          </ul><!-- /.accordion -->
        </div><!-- /.tabs-panel -->

        <div class="tabs-panel" id="tab-by_section">

          <ul class="accordion resolution_list" data-accordion data-multi-expand="true" data-allow-all-closed="true">

            <div class="paginator-top">
              {% include "_paginator.html" %}
            </div>

            {% include "_tag_header.html" %}
            {% include "_date_header.html" %}
            {% include "_counts_header.html" %}

            {% for resolution in resolutions|dictsort:"section" %}
            <li class="accordion-item resolution_item" data-accordion-item>
              <a class="accordion-title">{{resolution.section}}, {{ resolution.title|truncatechars:66 }}</a>
              <div class="accordion-content" data-tab-content>

                {% include "_resolution_attributes.html" %}

              </div><!-- accordion-content -->
            </li>
            {% endfor %}
          </ul><!-- /.accordion -->

        </div><!-- /.tabs-panel -->

        <div class="tabs-panel" id="tab-by_topic">

          <ul class="accordion resolution_list" data-accordion data-multi-expand="true" data-allow-all-closed="true">

            {% include "_tag_header.html" %}
            {% include "_date_header.html" %}
            {% include "_counts_header.html" %}

            {% for resolution in resolutions|dictsort:"topic" %}
            <li class="accordion-item resolution_item" data-accordion-item>
              <a class="accordion-title">{{resolution.topic}}, {{ resolution.title|truncatechars:66 }}</a>
              <div class="accordion-content" data-tab-content>

                {% include "_resolution_attributes.html" %}

              </div><!-- accordion-content -->
            </li>
            {% endfor %}
          </ul><!-- /.accordion -->

            </div><!-- /.tabs-panel -->


            <div class="tabs-panel" id="tab-by_category">

                <ul class="accordion resolution_list" data-accordion data-allow-all-closed="true">

                    {% include "_tag_header.html" %}
                    {% include "_date_header.html" %}
                    {% include "_counts_header.html" %}

                {% for resolution in resolutions|dictsort:"category" %}
                    <li class="accordion-item resolution_item" data-accordion-item>
                    <a class="accordion-title">{{resolution.category}}, {{ resolution.title|truncatechars:66 }}</a>
                    <div class="accordion-content" data-tab-content>

                        {% include "_resolution_attributes.html" %}

                    </div><!-- accordion-content -->
                    </li>
                {% endfor %}
                </ul><!-- /.accordion -->

            </div><!-- /.tabs-panel -->

            <div class="tabs-panel" id="tab-by_title">

            <ul class="accordion resolution_list" data-accordion data-allow-all-closed="true">

                {% include "_tag_header.html" %}
                {% include "_date_header.html" %}
                {% include "_counts_header.html" %}

            {% for resolution in resolutions|dictsort:"title" %}
                <li class="accordion-item resolution_item" data-accordion-item>
                <a class="accordion-title">{{ resolution.title|truncatechars:108 }}</a>
                <div class="accordion-content" data-tab-content>

                    {% include "_resolution_attributes.html" %}

                </div><!-- accordion-content -->
                        </li>
                    {% endfor %}
                    </ul><!-- /.accordion -->

                </div><!-- /.tabs-panel -->

        </div><!-- /.tabs-content -->
        {% else %}

			{% include "_empty_resolution_query.html" %}

        {% endif %}

      </div><!-- /main -->

    </div><!-- /.row -->
    {% endblock content %}


{% block bottom %}{% endblock %}
