{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}{% endblock %}

<body {% block body_attr %}class="homepage"{% endblock %}>

    {% block content %}

    <div class="row">
      <div class="large-12 columns" align="center">
        <h1>Welcome to the ISKCON Lawbook</h1>
      </div>
    </div>
    <div class="row">
      <div id="sidebarL" class="large-3 columns">
		{% include "_sidebar_left.html" %}
      </div><!-- /.sidebarL -->
      <div id="main" class="large-9 columns">

        <ul class="tabs" data-tabs id="content-tabs">
			<li class="tabs-title is-active"><a href="#tab-by_time" aria-selected="true">By Date</a></li>
			<li class="tabs-title"><a href="#tab-by_section">By Section</a></li>
			<li class="tabs-title"><a href="#tab-by_topic">By Topic</a></li>
			<li class="tabs-title"><a href="#tab-by_category">By Category</a></li>
			<li class="tabs-title"><a href="#tab-by_title">By Title</a></li>
			<li class="tabs-title text-right"><div id="search-form">
				<form><div class="input-group">
					<input class="input-group-field" type="search" placeholder="keyword">
					<div class="input-group-button"><input type="submit" class="button" value="Search"></div>
				</div></form>
			</div></li>
		</ul>

		{% if resolutions %}
		<div class="tabs-content" data-tabs-content="content-tabs">
			<div class="tabs-panel is-active" id="tab-by_time">

				<ul class="accordion resolution_list" data-accordion>

				{% for resolution in resolutions %}
	  				<li class="accordion-item resolution_item" data-accordion-item>
					<a class="accordion-title">{{resolution.year}}, {{ resolution.title }}</a>
					<!--<a href="{% url 'detail' resolution.id %}">{{resolution.year}}, {{ resolution.title }}</a>-->
	    			<div class="accordion-content" data-tab-content>
						<b>year:</b> {{ resolution.year }}<br/>
						<b>res_id:</b> {{ resolution.res_id }}<br/>
						<b>time:</b> {{ resolution.time }}<br/>
						<b>title:</b> {{ resolution.title }}<br/>
						<b>resolution:</b> {{ resolution.resolution }}<br/>
						<b>section:</b> {{ resolution.section }}<br/>
						<b>category:</b> {{ resolution.category }}<br/>
						<b>topic:</b> {{ resolution.topic }}<br/>

						<b>tags:</b>
						{% if resolution.tags %}
							{% for tag in resolution.tags.all %}
								[ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>     ]
							{% endfor %}
						{% else %}
							[no tags]<br/>
						{% endif %}

					</div>
					</li>
				{% endfor %}
				</ul>

			</div><!-- /.tabs-panel -->

			<div class="tabs-panel" id="tab-by_section">

			<ul class="accordion resolution_list" data-accordion>
				{% for resolution in resolutions|dictsort:"section" %}
	  				<li class="accordion-item resolution_item" data-accordion-item>
					<a class="accordion-title">{{resolution.section}}, {{ resolution.title }}</a>
	    			<div class="accordion-content" data-tab-content>
						<b>year:</b> {{ resolution.year }}<br/>
						<b>res_id:</b> {{ resolution.res_id }}<br/>
						<b>time:</b> {{ resolution.time }}<br/>
						<b>title:</b> {{ resolution.title }}<br/>
						<b>resolution:</b> {{ resolution.resolution }}<br/>
						<b>section:</b> {{ resolution.section }}<br/>
						<b>category:</b> {{ resolution.category }}<br/>
						<b>topic:</b> {{ resolution.topic }}<br/>

						<b>tags:</b>
						{% if resolution.tags %}
							{% for tag in resolution.tags.all %}
								[ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>     ]
							{% endfor %}
						{% else %}
							[no tags]<br/>
						{% endif %}

					</div>
					</li>
				{% endfor %}
				</ul>

			</div><!-- /.tabs-panel -->

			<div class="tabs-panel" id="tab-by_topic">

			<ul class="accordion resolution_list" data-accordion>
				{% for resolution in resolutions|dictsort:"topic" %}
	  				<li class="accordion-item resolution_item" data-accordion-item>
					<a class="accordion-title">{{resolution.topic}}, {{ resolution.title }}</a>
	    			<div class="accordion-content" data-tab-content>
						<b>year:</b> {{ resolution.year }}<br/>
						<b>res_id:</b> {{ resolution.res_id }}<br/>
						<b>time:</b> {{ resolution.time }}<br/>
						<b>title:</b> {{ resolution.title }}<br/>
						<b>resolution:</b> {{ resolution.resolution }}<br/>
						<b>section:</b> {{ resolution.section }}<br/>
						<b>category:</b> {{ resolution.category }}<br/>
						<b>topic:</b> {{ resolution.topic }}<br/>

						<b>tags:</b>
						{% if resolution.tags %}
							{% for tag in resolution.tags.all %}
								[ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>     ]
							{% endfor %}
						{% else %}
							[no tags]<br/>
						{% endif %}

					</div>
					</li>
				{% endfor %}
				</ul>

			</div><!-- /.tabs-panel -->

			<div class="tabs-panel" id="tab-by_category">

				<ul class="accordion resolution_list" data-accordion>

					{% for resolution in resolutions|dictsort:"category" %}
					<li class="accordion-item resolution_item" data-accordion-item>
						<a class="accordion-title">{{resolution.category}}, {{ resolution.title }}</a>
	    			<div class="accordion-content" data-tab-content>
							<b>year:</b> {{ resolution.year }}<br/>
							<b>res_id:</b> {{ resolution.res_id }}<br/>
							<b>time:</b> {{ resolution.time }}<br/>
							<b>title:</b> {{ resolution.title }}<br/>
							<b>resolution:</b> {{ resolution.resolution }}<br/>
							<b>section:</b> {{ resolution.section }}<br/>
							<b>category:</b> {{ resolution.category }}<br/>
							<b>topic:</b> {{ resolution.topic }}<br/>

							<b>tags:</b>
							{% if resolution.tags %}
								{% for tag in resolution.tags.all %}
									[ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>     ]
								{% endfor %}
							{% else %}
								[no tags]<br/>
							{% endif %}

						</div>
					</li>
					{% endfor %}
				</ul>

			</div><!-- /.tabs-panel -->



			<div class="tabs-panel" id="tab-by_title">

			<ul class="accordion resolution_list" data-accordion>
				{% for resolution in resolutions|dictsort:"title" %}
	  				<li class="accordion-item resolution_item" data-accordion-item>
					<a class="accordion-title">{{resolution.year}}, {{ resolution.title }}</a>
	    			<div class="accordion-content" data-tab-content>
						<b>year:</b> {{ resolution.year }}<br/>
						<b>res_id:</b> {{ resolution.res_id }}<br/>
						<b>time:</b> {{ resolution.time }}<br/>
						<b>title:</b> {{ resolution.title }}<br/>
						<b>resolution:</b> {{ resolution.resolution }}<br/>
						<b>section:</b> {{ resolution.section }}<br/>
						<b>category:</b> {{ resolution.category }}<br/>
						<b>topic:</b> {{ resolution.topic }}<br/>

						<b>tags:</b>
						{% if resolution.tags %}
							{% for tag in resolution.tags.all %}
								[ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>     ]
							{% endfor %}
						{% else %}
							[no tags]<br/>
						{% endif %}

					</div>
					</li>
				{% endfor %}
				</ul>

			</div><!-- /.tabs-panel -->

		</div><!-- /.tabs-content -->
		{% endif %}

      </div><!-- /main -->

    </div><!-- /.row -->
    {% endblock content %}


{% block bottom %}{% endblock %}
