{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}{% endblock %}

<body {% block body_attr %}class="homepage"{% endblock %}>

    {% block content %}

    <div class="row">
      <div class="large-12 columns" align="center">
        <h1>Welcome to the ISKCON Lawbook</h1>
      </div>
    </div>
    <div class="row">
      <div id="sidebarL" class="large-3 columns">
		{% include "_sidebar_left.html" %}
      </div><!-- /.sidebarL -->
      <div id="main" class="large-9 columns">

		<h1>Tag:
		{% if tag %}
			{{tag}} [{{resolution_count}}]
		{% else %}
			Sorry, no tags :-()
		{% endif %}
		</h1>

		{% if resolutions %}
		<ul>
			{% for resolution in resolutions %}
				<li><a href="{% url 'detail' resolution.id%}">{{resolution.year}}, {{resolution.title}}</a></li>
			{% endfor %}
		</ul>
		{% endif %}

      </div><!-- /main -->

    </div><!-- /.row -->
    {% endblock content %}


{% block bottom %}{% endblock %}
