{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}{% endblock %}

<body {% block body_attr %}class="homepage"{% endblock %}>

    {% block content %}

    <div class="row">
      <div class="large-12 columns" align="center">
        <h1>Welcome to the ISKCON Lawbook</h1>
      </div>
    </div>
    <div class="row">

  		{% include "_sidebar_left.html" %}

      <div id="main" class="large-9 columns">


    		<div class="tabs-content" data-tabs-content="content-tabs">
    			<div class="tabs-panel is-active" id="tab-by_time">

    				{% if resolution %}

            <div class="resolution-title">Resolution #{{ resolution.res_id }}</div>

    					<div>
    					<b>year:</b> {{ resolution.year }}<br/>
              <b>section:</b> {{ resolution.section }}<br/>
              <b>category:</b> {{ resolution.category }}<br/>
              {% comment %}
    					<b>res_id:</b> {{ resolution.res_id }}<br/>
              {% endcomment %}
    					<b>time:</b> {{ resolution.time }}<br/>
    					<b>title:</b> {{ resolution.title }}<br/>

              <b>tags:</b>
                {% if resolution.tags.all %}
                  {% for tag in resolution.tags.all %}
                    [ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a> ]
                  {% endfor %}
                {% else %}
                  [ no tags ]
                {% endif %}
              <br/>


    					<b>resolution:</b> {% autoescape off %}{{ resolution.resolution }}{% endautoescape %}<br/>

    					</div>

    				{% endif %}


    			</div><!-- /.tabs-panel -->
    		</div><!-- /.tabs-content -->

        </div><!-- /#main -->


      </div><!-- /.row -->
      {% endblock content %}


{% block bottom %}{% endblock %}
