&lt;_copyright&gt;
	Unless otherwise stated, all content on ISKCON Lawbook is licensed under a Creative Commons<br/>
	Attribution-Noncommercial-No Derivative Works 3.0 Unported License.

<ul>
	<li class="privacy-policy"><a href="/privacy-policy/">Privacy Policy</a></li>
</ul>
&lt;/_copyright&gt;
