{% if user.username == 'devaprastha' %}
  {% if resolutions_total_count %}
  	<div class="tag-header"><div class="tag_header_label">Total Records:</div> {{resolutions_total_count}} </div>
  {% endif %}
  {% if resolutions_paginated_count %}
    <div class="tag-header"><div class="tag_header_label">Records Selected:</div> {{resolutions_paginated_count}} </div>
  {% endif %}
{% endif %}
