{% if date_range %}
	<div class="tag-header"><div class="tag_header_label">Date Range Filter:</div> {{year1}}-{{year2}}</div>

{% elif year1 %}

	<div class="tag-header"><div class="tag_header_label">Date Filter:</div> {{year1}}</div>

{% endif %}
