<div class="no_resolutions">

	<div class="callout warning">We're sorry, but there are no resolutions meeting that criteria. </div>

    {% if tag or tags %}
    	<div class="filterOn">
    		<span class="filterOn-label">Tag Filter in effect:</span>
    		<span class="filterOn-value">{{tag}} {% for tag in tags %}{{tag}}, {% endfor %}</span>
    	</div>
    {% endif %}
    {% if year1 %}
    	<div class="filterOn">
    		<span class="filterOn-label">Date range filter in effect:</span>
    		<span class="filterOn-value">{{year1}}{% endif %}{% if year2 %}-{{year2}}</span>
    	</div>
   {% endif %}

</div>
