{% load staticfiles %}

<!-- Footer and Copyright -->
<div id="footer" class="row">
  <div class="col-12">
     <div id="iskcon-seal" class="text-center"><img src="{% static 'img/ISKCONSeal.png' %}" border="0"/></div>
  </div>
</div>

<div id="copyright" class="row">
  <div class="text-center col-12">
    <div class="copyright-text">Copyright © 2016 - ISKCON Governing Body Commission - All rights reserved.</div>
  </div>

  {% comment %}
	<ul class="privacy-policy text-center">
		<li><a href="/privacy-policy/">Privacy Policy</a></li>
	</ul>
	{% endcomment %}


{% comment %}
  <div class="row">
  	<div class="large-12 columns">
    <a href="/humans.txt">
      <img src="{% static 'img/humanstxt-isolated-blank.gif' %}" border="0" alt="humanstxt.org" />
    </a>
    </div>
  </div>
{% endcomment %}

<!-- Footer and Copyright -->

