
<!-- Header -->
<div id="header" class="row text-center">
	<div class="col-12"></div>
</div>
<!-- /Header -->

<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div class="login_links">
      {% if user.is_authenticated  %}
        Haribol {{ user.first_name }}! <a href="/auth/logout/?next=/">Logout</a>
        {% if user.is_superuser %}
          <br/> {{ user.groups.all }}
        {% endif %}
      {% else %}
        <a onClick="lb_libs.loadLogin('#loginModal');">Login</a>
      {% endif %}
      </div>

  {% comment %}
  {% include '_login_modal.html' %}
  {% endcomment %}

    </div><!-- /.large-12 columns -->
  </div><!-- /.row -->
</div>
