{% load i18n %}

<div id="loginModal" class="reveal" data-reveal>
  <div id="mData">login modal...(this text will be replaced by ajax HTML)...</div>
  <button type="button" class="close-button" data-close aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
