<div class="pagination-centered">
    {% if page_obj.has_previous or page_obj.has_next %}

        {% if page_obj.has_previous %}
            <li><a href="?q={{ query }}&amp;page=1">&laquo; First</a></li>
            <li class="arrow"><a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">&lt;-Previous</a></li>
        {% endif %}

        {% if paginator.num_pages < 8 %}

            {% for i in page_range %}
                {% if page_obj.number == i %}
                    <li class="current">{{ i }}</li>
                {% else %}
                    <li><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

        {% else %}
            {% for i in range_begin %}
                {% if page_obj.number == i %}
                    <li class="current">{{ i }}</li>
                {% else %}
                    <li><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.number == range_begin|last|add:'1' %}
                <li class="current">{{ page_obj.number }}</li>
                <li class="unavailable">&hellip;</li>

            {% elif page_obj.number == range_end|first|add:'-1' %}
                <li class="unavailable">&hellip;</li>
                <li class="current">{{ page_obj.number }}</li>
            {% else %}

                {% if page_obj.number > range_begin|last|add:'1' and page_obj.number < range_end|first|add:'-1' %}
                    <li class="unavailable">&hellip; {{ page_obj.number }} &hellip;</li>
                {% else %}
                    <li class="unavailable">&hellip;</li>
                {% endif %}

            {% endif %}

            {% for i in range_end  %}
                {% if page_obj.number == i %}
                    <li class="current">{{ i }}</li>
                {% else %}
                    <li><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

        {% endif %}

        {% if page_obj.has_next %}
            <li class="arrow"><a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">Next-&gt;</a></li>
            <li><a href="?q={{ query }}&amp;page={{ paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}

    {% endif %}
</div>
