<div class="pagination-centered">
    {% if resolutions_paginated.has_previous or resolutions_paginated.has_next %}

        {% if resolutions_paginated.has_previous %}
            <li class="first"><a href="?q={{ query }}&amp;page=1">&laquo; First</a></li>
            <li class="arrow prev"><a href="?q={{ query }}&amp;page={{ resolutions_paginated.previous_page_number }}">&lt;-Previous</a></li>
        {% endif %}

        {% if paginator.num_pages < 8 %}

            {% for i in page_range %}
                {% if resolutions_paginated.number == i %}
                    <li class="current number">{{ i }}</li>
                {% else %}
                    <li class="number"><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

        {% else %}
            {% for i in range_begin %}
                {% if resolutions_paginated.number == i %}
                    <li class="current number">{{ i }}</li>
                {% else %}
                    <li class="number"><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if resolutions_paginated.number == range_begin|last|add:'1' %}
                <li class="current number">{{ resolutions_paginated.number }}</li>
                <li class="unavailable number">&hellip;</li>

            {% elif resolutions_paginated.number == range_end|first|add:'-1' %}
                <li class="unavailable number">&hellip;</li>
                <li class="current number">{{ resolutions_paginated.number }}</li>
            {% else %}

                {% if resolutions_paginated.number > range_begin|last|add:'1' and resolutions_paginated.number < range_end|first|add:'-1' %}
                    <li class="unavailable number">&hellip; {{ resolutions_paginated.number }} &hellip;</li>
                {% else %}
                    <li class="unavailable number">&hellip;</li>
                {% endif %}

            {% endif %}

            {% for i in range_end  %}
                {% if resolutions_paginated.number == i %}
                    <li class="current number">{{ i }}</li>
                {% else %}
                    <li class="number"><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

        {% endif %}

        {% if resolutions_paginated.has_next %}
            <li class="arrow next"><a href="?q={{ query }}&amp;page={{ resolutions_paginated.next_page_number }}">Next-&gt;</a></li>
            <li class="last"><a href="?q={{ query }}&amp;page={{ paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}

    {% endif %}
</div>
