{% load ifusergroup %}

    <div class="resolution-attributes">
        {% comment %}
        <div class="resolution-attribute resolution-attribute-res_id">
            <div class="resolution-attribute-label">Id:</div>
            {{ resolution.res_id }}
        </div>
        {% endcomment %}

        {% if resolution.published == False %}
        <div class="resolution-attribute-label unpublished-label">Unpublished</div>
        {% endif %}
        {% comment %}
        <div class="resolution-attribute resolution-attribute-title">
            <div class="resolution-attribute-label">Title:</div>
            {{ resolution.title }}
        </div>
        {% endcomment %}
        <div class="resolution-attribute resolution-attribute-year">
            <div class="resolution-attribute-label">Year:</div>
            {{ resolution.year }}
        </div>
        {% if resolution.time %}
        <div class="resolution-attribute resolution-attribute-time">
            <div class="resolution-attribute-label">Time:</div>
            {{ resolution.time }}
        </div>
        {% endif %}
        <div class="resolution-attribute resolution-attribute-section">
            <div class="resolution-attribute-label" />Section:</div>
            {% if resolution.section %}{{ resolution.get_section|floatformat }}{% endif %}
        </div>
        <div class="resolution-attribute resolution-attribute-category">
            <div class="resolution-attribute-label">Category:</div>
            {{ resolution.category }}
        </div>

        <div class="resolution-attribute resolution-attribute-tags">
            <div class="resolution-attribute-label">Tags:</div>
            {% if resolution.tags.all %}
                {% for tag in resolution.tags.all %}
                    [ <a class="tag-item" href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>     ]
                {% endfor %}
            {% else %}
                [no tags]<br/>
            {% endif %}
            </div>

        <div class="resolution-attribute resolution-attribute-resolution">
            <div class="resolution-attribute-label">Resolution:</div>
                {{ resolution.resolution|safe }}
        </div>


        {% ifusergroup GBC %}
        <div class="resolution-attribute resolution-attribute-presentation">
            <div class="resolution-attribute-label">Presentation:</div>
                {{ resolution.presentation|safe }}
        </div>

        <div class="resolution-attribute resolution-attribute-comments_gbc">
            <div class="resolution-attribute-label">GBC Discussions:</div>
                {{ resolution.comments_gbc|safe }}
        </div>

        <div class="resolution-attribute resolution-attribute-comments_deputy">
            <div class="resolution-attribute-label">Deputy Discussions:</div>
                {{ resolution.comments_deputy|safe }}
        </div>

        <div class="resolution-attribute resolution-attribute-res_id">
            <div class="resolution-attribute-label">ID:</div>
                <span class="resolution-item-id">{{ resolution.res_id}}</span>
        </div>
        {% endifusergroup %}

    </div><!-- resolution-attributes -->
