<div id="sidebarL" class="large-3 columns">

	<div class="all-resolutions-header"><a href="/">All Resolutions</a></div>


	<div id="select_year" class="date-range-label">
	<form id="select-single-year" onSubmit="return chkFrm(this);">
		<div class="input-group">
			<input name="yr" class="input-group-field" type="number" placeholder="{% if year1 %}{{year1}}{% else %}enter year (yyyy){% endif %}" />
			<div class="input-group-button">
				<input type="submit" class="button" value="Submit">
			</div>
		</div>
	</form>
	</div>

	<div class="date-range-label">Select Date Range</div>
	<div id="dateSlider"></div>

	<div class="select-year-label">Select Date</div>


	<ul class="tabs" data-tabs id="sidebar-tabs">
		<li class="tabs-title is-active"><a id="link-top-ten-tags" href="#tab-top-ten-tags" aria-selected="true">Top 10 Tags</a></li>
		<li class="tabs-title"><a href="#tab-all-tags">All Tags</a></li>
	</ul>

<div class="tabs-content" data-tabs-content="sidebar-tabs" data-options="matchHeight:true;">

	<div class="tabs-panel is-active" id="tab-top-ten-tags">
		{% if most_popular_tags %}
		<div class="input-group">
		  <form id="top-ten-tags" onSubmit="return tagsFilter(this);">
			{% for mptag in most_popular_tags %}
				<li><input class="input-group-field" type="checkbox" name="{{mptag.slug}}"
				{% if mptag == tag %}
						checked
				{% elif tags %}
					{% for tag in tags %}
						{% if mptag == tag %}
							checked
						{% endif %}
					{% endfor %}
				{% endif %}
				/> <a href="{% if date_range %}/{{year1}}/{{year2}}{% elif year1 %}/{{year1}}{% endif %}/tag/{{mptag.slug}}/" />{{mptag.name}}</a></li>
			{% endfor %}
			<div class="input-group-button">
				<input type="submit" class="button" value="Filter on Selected Tags" />
			</div>
		  </form>
		</div>
		{% endif %}
	</div><!-- /.tabs-panel -->

	<div class="tabs-panel" id="tab-all-tags">
		{% if all_tags %}
		<div class="input-group">
		  <form id="all-tags" onSubmit="return tagsFilter(this);">
			{% for atag in all_tags %}
				<li><input class="input-group-field" type="checkbox" name="{{atag.slug}}"
				{% if atag == tag %}
						checked
				{% elif tags %}
					{% for tag in tags %}
						{% if atag == tag %}
							checked
						{% endif %}
					{% endfor %}
				{% endif %}
				/> <a href="/tag/{{atag.slug}}/" />{{atag.name}}</a></li>
			{% endfor %}
			<div class="input-group-button">
				<input type="submit" class="button" value="Filter on Selected Tags" />
			</div>

		  </form>

		</div>
		{% else %}
		no tags :-(
		{% endif %}
	</div><!-- /.tabs-panel -->


</div><!-- /tabs-content -->


	<div id="clear-dates" class="text-right">
		<a onClick="return clearFilter('clear-dates');" class="button success">Clear Dates</a>
	</div>

	<div id="clear-tags" class="text-right">
		<a onClick="return clearFilter('clear-tags');" class="button alert">Clear Tags</a>
	</div>


</div><!-- /.sidebarL -->


