{% if tag %}

	<div class="tag-header"><div class="tag_header_label">Tag Filter:</div> {{tag.name}}
	<a class="clear-tags" onClick="return clearTag('{{tag.slug}}');">[<i class="fi-x"></i>]</a>
	</div>

{% elif tags %}

	<div class="tag-header"><div class="tag_header_label">Tags Filter: </div>
	{% for tag in tags %}
		{{tag.name}}<a class="clear-tags" onClick="return clearTag('{{tag.slug}}');">[<i class="fi-x"></i>]</a>
	{% endfor %}
	</div>

{% endif %}
