{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en-US"><!--<![endif]-->

<head>
    <title>ISKCON Lawbook</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="author" href="/humans.txt" />
    <link rel="shortcut icon" href="{% static 'img/iskcon_logo.png' %}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{% static 'fa/css/font-awesome.min.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lawbook.css' %}" media="screen, projector, print" type="text/css" />

    {% comment %}
    {% endcomment %}


{% block head_extra %}{% endblock %}

</head>

<body {% block body_attr %}{% endblock %}>

  <div id="header_wrap" class="container-fluid">{% include "_header.html" %}</div><!-- /#header_wrap -->

  {% block content %}{% endblock %}

  <div id="footer_wrap" class="container-fluid">{% include "_footer.html" %}</div>

  {% comment %}
  {% endcomment %}
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lawbook.js' %}"></script>

  <script type="text/javascript">
  //<!--
    require('bootstrap');
    var lbook = require('index');
  -->//
  </script>

{% block bottom %}{% endblock %}

</body>
</html>
