{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags %}

<!-- BODYCLASS -->
{% block bodyclass %}grp-login{% endblock %}

<!-- EXTRAHEAD-->
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            $(window).load(function(){ $('#id_username').focus(); });
        })(grp.jQuery);
    </script>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c g-d-10 g-centered">
        <form action="{{ app_path }}" method="post">{% csrf_token %}
            <fieldset class="grp-module grp-module-login">
                <div class="module grp-module">
                    {% if form.errors and not form.non_field_errors %}
                        <div class="grp-row grp-error-row">
                            <p class="errornote">{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>
                        </div>
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="grp-row grp-error-row">
                            {% for error in form.non_field_errors %}
                                <p class="errornote">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if error_message %}
                        <div class="grp-row grp-error-row">
                            <p class="errornote">{{ error_message }}</p>
                        </div>
                    {% endif %}
                    <div class="form-row grp-row{% if form.username.errors %} grp-errors{% endif %}">
                        <label for="id_username" class="required">{{ form.username.label }}</label>
                        <input type="text" name="username" id="id_username" />
                        {% if form.username.errors %}{{ form.username.errors }}{% endif %}
                    </div>
                    <div class="form-row grp-row grp-connected{% if form.password.errors %} grp-errors{% endif %}">
                        <label for="id_password" class="required">{{ form.password.label }}</label>
                        <input type="password" name="password" id="id_password" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% if form.password.errors %}{{ form.password.errors }}{% endif %}
                    </div>
                    {% url 'admin_password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                        <div class="grp-row">
                            <p class="grp-description" style="font-size: 11px; line-height: 13px; margin-top: 2px;"><a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a></p>
                        </div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="grp-module grp-submit-row">
                <ul>
                    <li><input type="submit" class="grp-button grp-default" value="{% trans 'Log in' %}" /></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}
