{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}{% endblock %}

<body {% block body_attr %}class="homepage"{% endblock %}>

  {% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-12" align="center">
        <h1>Welcome to the ISKCON Lawbook</h1>

        <div class="default" style="margin:50px">
            There should probably something here as an information landing page for users who do not have login.
        </div>

      </div>
    </div>
  </div>


  {% include "_debug_messages.html" %}

  <div class="container-fluid">
    <div class="row">
      <div id="lbook" class="col-12"></div>
    </div>
  </div>

  {% endblock content %}

{% block bottom %}{% endblock %}
