<!-- Container -->
<div id="container">

  <!-- Content -->
  <div id="content" class="{% block coltype %}colM{% endblock %}">

    <!-- LOADING -->
    {% load i18n grp_tags %}

    <!-- CONTENT -->
    <div class="">
      <form action="/auth/login/" method="post">{% csrf_token %}
        <fieldset class="">
          <div class="">
            {% if form.errors and not form.non_field_errors %}
              <div class="">
                <p class="errornote">{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>
              </div>
            {% endif %}
            {% if form.non_field_errors %}
              <div class="">
                {% for error in form.non_field_errors %}
                  <p class="errornote">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            {% if error_message %}
              <div class="">
                <p class="errornote">{{ error_message }}</p>
              </div>
            {% endif %}
              <div class="">
                <label for="id_username" class="required">{{ form.username.label }}</label>
                  <input type="text" name="username" id="id_username" />
                  {% if form.username.errors %}{{ form.username.errors }}{% endif %}
              </div>
              <div class="">
                <label for="id_password" class="required">{{ form.password.label }}</label>
                <input type="password" name="password" id="id_password" />
                <input type="hidden" name="next" value="{{ next }}" />
                {% if form.password.errors %}{{ form.password.errors }}{% endif %}
              </div>
              {% url 'admin_password_reset' as password_reset_url %}
              {% if password_reset_url %}
                <div class="">
                  <p class="" style="font-size: 11px; line-height: 13px; margin-top: 2px;"><a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a></p>
                </div>
              {% endif %}
          </div>
        </fieldset>
        <div class="">
          <ul>
            <li><input type="submit" class="button" value="{% trans 'Log in' %}" /></li>
          </ul>
        </div>
      </form>
    </div>

  </div>
  <!-- END Content -->

</div>
<!-- END Container -->
