#footer
  margin-top 50px
  background $topbar-bg
  #iskcon-seal
    margin 15px

  #copyright
    background $topbar-bg-dark
    .copyright-text
      font-family $font-text-narrow
      color $light-gray
      font-size .8rem

ul
  &.privacy-policy
    margin-top 10px
    li
      list-style none
      display inline
    a
      color #e3e3e3
