#header_wrap
  #header
    background url(../img/GBC-Site-Header-design.jpg) no-repeat 50% 50%
    height 104px

.login_links
  float right
  a
    color $topbar-active-bg

#loginModal
  position relative
