.nav-paginator-top
  margin-left 80px
  position relative
  top -5px
  display inline

.nav-paginator
  display inline
  li
    list-style none
    display inline
    //color $topbar-bg
    color $topbar-active-bg
    padding 0 2px
    text-transform none
    font-weight 400
    font-size .6em
    &.current
      font-weight 700
      font-size .6em
      background-color $topbar-active-bg
      color #fff

a
  color $topbar-active-bg
  color $topbar-active-bg
  padding 2px
  &:hover
    color #fff
    background-color $topbar-hover-bg

    .pagination-centered
      text-align center
      font-weight 700
      li
        display inline
        padding 5px
        &.number
        padding 0

        .nav-paginator-bottom
          margin 25px 0px
          padding 5px
          text-align center
          .nav-paginator li
            font-size .9em
            color #fff
            padding 0 3px
          &.current
            font-weight 700
            background-color #fff
            color $topbar-active-bg
      .search-paginator-bottom
        padding 5px
        margin 0 -15px
        text-align center
        background-color $topbar-active-bg
        li
          padding 0 3px
          list-style none
          display inline
          font-size 1em
          color #fff
          &.current
            font-weight 700
            background-color #fff
            color $topbar-active-bg
            background-color $topbar-active-bg

        .search-paginator-top
          text-align center
          .pagination-centered li
            padding 0 3px
            display inline
            font-size 1em
            color $topbar-active-bg
            a
              color $topbar-active-bg

          &.current
            font-weight 700
            font-size 1em
            color #fff
            background-color $topbar-active-bg
