div#lbook
  ul.resolutions-items
    .group-header
      color $topbar-active-bg
      border-top 1px solid $dark_grey
      font-size 1.1em
      font-weight 700
      margin-top 20px
    li.resolution-item
      border .5px solid $darker_grey
      padding 10px
      margin 0
      a.title-link
        color $darker_grey
        font-family $font-text
        font-weight 700
        font-size 1em
        height 25px
        &:hover
          color: $white
      .tag-list
        a.tag-item
          margin 0
          padding 0
          font-weight 700
      .attributes
        .item-label
          font-weight 700
      &.unpublished
        background-color $unpublished_bg
        .pub_status
          color $topbar-hover-bg
          font-weight 700
    &.attribs-show
      li.resolution-item
        margin-bottom 5px
        /*
        a.title-link
          cursor text
          &:hover
            background transparent
            color $darker_grey
        */
    &.attribs-hide
      li.resolution-item
        border 0
        padding 0
        margin 0
        .pub_status
          display none
        .attributes
          /* display none */


.no_resolutions, .login_required
  color $header-text
  font-family $font-text-narrow
  margin 50px
  .filterOn
    font-weight bold
  .filterOn-label
    color $topbar-active-bg

.filterOn-value
  color $topbar-hover-bg
