.no_resolutions
  font-family $font-text-narrow
  color $header-text
  margin 50px
  .filterOn
    font-weight bold
  .filterOn-label
    color $topbar-active-bg

.filterOn-value
  color $topbar-hover-bg

span.unpublished-label
  color red
  font-weight 700

li.resolution-item
  .resolution-item-section, .resolution-item-id
    margin-right 10px

.group-header
  text-align left
  margin-top 15px
  padding-top 15px

  ul
    &.tabs
      background transparent
      border 0
      li.tabs-title
        background $topbar-bg-dark
        a
          color $light-gray
          height 25px
          line-height 25px
          padding 0 20px
          font-weight bold
      &:hover
        background $topbar-hover-bg
        background $topbar-hover-bg

    li
      &.is-active
        background transparent
        a
        color $topbar-active-bg
        color $light-gray
        height 28px
        line-height 28px
        position relative
        top -2px
        background $topbar-active-bg


a.clear-tags
  margin-left 5px
  /*
  position relative
  top -2px
  */
  font-family $font-text-narrow
  font-size .8rem
  color #000
  &:hover
    color $topbar-hover-bg


.tag-header
  font-family $font-text-narrow
  font-weight bold
  color $topbar-hover-bg
  .tag_header_label
    display inline
    color $topbar-active-bg


#lbook
  height 1000px
  .tabs-content
    background transparent
    border 1px solid #e6e6e6
    position relative
    top -3px
    .tabs-panel

      .resolution-year
        margin-left -15px
        padding-left -10px
        color $topbar-active-bg
        font-weight 700
        font-size 1.1em
        &:hover
          color #fff
          background $topbar-active-bg


          ul
            &.accordion
              border-width 0
              li.accordion-item.unpublished
                background-color #FC6
              .accordion-content
                .resolution-attributes
                  .resolution-attribute-resolution
                    color #000



        li.accordion-item
          list-style-type none
          a.accordion-title
            font-weight 700
            /* color $topbar-active-bg */
            color $topbar-hover-bg
            font-size 1.2em
            color $header-text
            font-size .9em
            height 25px
            line-height 25px
            padding-top 0
            padding-left 10px
            border-width 0

            &:hover
              background-color $topbar-hover-bg
              font-weight bold
              color #fff

            &[aria-expanded='true']
              .resolution-item-title
                &::before
                  content 'Title: '

              font-weight bold
              color $topbar-active-bg
              background-color $topbar-active-bg
              background-color rgba(16, 62, 111, 0.2)
              &:hover
                background-color $topbar-hover-bg
                font-weight bold
                color #fff

          .accordion-content
            background-color $topbar-active-bg
            background-color rgba(16, 62, 111, 0.2)
            border 0
            padding 0px 10px
            margin-bottom 6px
            .resolution-attributes
                .unpublished-label
                  color red
                  font-weight 700

              .resolution-item
                display block
                font-family $font-text-narrow
                color $topbar-active-bg
                .resolution-item-section,.resolution-item-id
                  margin-right 10px

              .resolution-attribute-res_id, .resolution-attribute-year, .resolution-attribute-time
                display inline
                margin-right 25px

              .resolution-attribute-title
                color $topbar-hover-bg
                font-weight bold

              .resolution-attribute

                .resolution-attribute-label
                  /* color $topbar-active-bg */
                  color $topbar-active-bg
                  font-weight bold
                  display inline
                  font-family $font-text-narrow

                a.tag-item
                  font-family $font-text-narrow
                  color $topbar-active-bg
                  &:hover
                    color $topbar-hover-bg
