.search-input, .close-icon, .search-wrapper
  position  relative
  padding 10px

form.search-wrapper
  width 900px
  text-align left
  margin auto

  input.search-input
    width 80%
    display inline
    border 1px solid #ccc
    outline 0
    border-radius 10px
    &:focus
      box-shadow 0 0 15px 5px #b0e0ee
      border 2px solid #bebede
    &.search-input:not(:valid) ~ .close-icon
      display  none

.close-icon
  border  1px solid transparent
  background-color  transparent
  display inline-block
  vertical-align  middle
  outline 0
  cursor  pointer

  &:after
    content "X"
    display block
    width 15px
    height  15px
    position  absolute
    background-color  #FA9595
    z-index 1
    right 35px
    top 0
    bottom  0
    margin  auto
    padding 2px
    border-radius 50%
    text-align  center
    color #fff
    font-weight normal
    font-size 12px
    box-shadow  0 0 2px #E50F0F
    cursor  pointer
