#search_prev_next
  margin 25px

li
  &.search_results_list
    display inline-block
    list-style none
    margin-top 20px
    width 100%
    a
    color $topbar-bg-dark
    font-weight 700

.search_results_list-thumbnail
  float left
  padding-right 10px

.search_results_list-title
  display inline
  padding-right 10px

