#sidebarL
  height 100%
  .all-resolutions-header
    height 25px
    background $topbar-active-bg
    width 75%
    margin-bottom 25px
    & hover
      background $topbar-hover-bg

  a
    color #fff
    font-family $font-text-narrow
    font-weight bold
    font-size .9rem
    line-height 6px
