#sidebarL
  .slider-label
    margin 0 -10px 25px
  .rc-slider
    color: navy
  .rc-slider-track
    background-color: $topbar-active-bg
  .rc-slider-handles
    position absolute
    transform translate(-50%, -50%)
    cursor pointer
    padding 2px
    border 2px solid $topbar-active-bg
    border-radius 6px
    font-size 14px
    text-align center
    background-color white
