#sidebarL
  #clear-tags
    margin-left 200px

  div#tagdiv
    margin-top 50px
    ul#taglist
      li.tabs-title
        &.is-active
          background-color $topbar-active-bg
        a
          line-height 0
          background-color $topbar-bg-dark
          &:hover
            background-color $topbar-hover-bg
        a[aria-selected='true']
          background transparent

    div.tabs-content
      .tabs-panel

        form
          [type='checkbox']
              margin 0 5px
          .checkbox
            label
              line-height 1.5
              color $topbar-active-bg
              font-weight normal

          .Collapsible
            display: block;
            color: $grey;

            .Collapsible__trigger
              &:after
                font-family 'FontAwesome'
                content '\f0da'
                display inline
                float right
                transition transform 300ms
              &.is-open
                &:after
                  font-family 'FontAwesome'
                  content '\f0d7'
                  /* transform: rotateZ(180deg); */

  .clear-tags, .clear-years
    background-color $topbar-active-bg
    height 20px
    line-height 0
    margin 20px
    text-align center
