div#lbook

  ul#tabnav
    font-family $font-text-narrow
    font-weight 700
    height: 30px
    color $topbar-text

    li.tabs
      display inline-table
      padding-right 5px
      border 0
      background $topbar-bg-dark
      color $topbar-text
      &:hover
        height 25px
        margin-top -5px

      a.tablink
        color $topbar-text
        padding 6px
        &.is-active
          height 30px
          margin-top -10px
          background $topbar-active-bg
          cursor: none
          &:hover
            background $topbar-active-bg
        &:hover
          background $topbar-hover-bg
