/* GLOBAL STYLES -------------------------------------------------- */

$global-radius = 6

$default-float = left

$reveal-border-style = solid
$reveal-border-width = 1px
$reveal-border-color = #000

$font-text = 'PT Sans', sans-serif
$font-text-narrow = 'PT Sans Narrow', sans-serif
$font-script = 'Norican', cursive
$font-narrow = 'Economica', sans-serif
$font-weight-text = 400
$font-weight-head = 700

$white = #fff
$lighter_grey = #c9cbcd
$dark_grey = #999
$darker_grey = #333
$topbar-bg =         #3a4046
$topbar-bg-dark =      #2f353a
$tobar-grey =        #c0c3c9
$topbar-text =       #c9cbcd
$topbar-hover-text =     #fff
$topbar-active-bg = rgb(16, 62, 111)
$topbar-hover-bg = rgb(140, 0, 40)
$topbar-active-text = #fff

$header-text = #373e44

body
  background #fff
  font-family $font-text
  font-weight $font-weight-text

h1, h2, h3
  font-family $font-text
  font-weight $font-weight-head
  color $topbar-text

ul
  list-style none
  margin 0

/***
h1
  font-size = 1.6em
h2
  font-size = 1.4em
h3
  font-size = 1.2em
***/

.page
  margin-top 15px

.msg, .messages_header
  color $topbar-hover-bg
  margin 0 0 10px

$unpublished_bg = #FFC29F
$unpublished_txt = $topbar-hover-bg

@import '_header'
@import '_tabnav'
/* @import 'homepage' */
@import '_sidebars'
@import '_sidebar_slider'
@import '_sidebar_tag_list'
@import '_resolutions'
@import '_pagination'
@import '_search-box'
@import '_search-results'
@import '_footer'
@import '_reslist'
